{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Проверка дефектов</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- <link rel="stylesheet" href="./../static/styles.css" /> -->
    <script src="{% static 'script.js' %}"></script>
    <!-- <script src="./../static/script.js"></script> -->
  </head>
  <body>
    <header class="header"></header>
    <div class="container">
      <div class="wrap">
        <div>
          <h2 class="title">Загрузка</h2>
          <form
            action="/"
            method="post"
            enctype="multipart/form-data"
            class="form-wrap"
          >
            {% csrf_token %}
            <div class="form-input-wrapper" id="form-input-wrapper">
              <label for="photo" class="form-label">+</label>
              <input
                class="form-input"
                type="file"
                id="photo"
                name="photo"
                accept="image/png, image/jpeg"
                onchange="previewImage(event)"
              />
            </div>
            <div id="image-preview"></div>
            <button class="form-btn" type="submit">
              Отправить на проверку
            </button>
          </form>
        </div>
        <div className="loader"></div>

        <div class="result">
          <!-- тут повесить отправку на обучение -->
          <button class="send-btn">Отправить на дообучение</button>
          <h2 class="title">Результат обработки</h2>

          <div class="result-wrap">
            {% if uploaded_file_url %}
            <img
              class="result-img"
              src="{{ uploaded_file_url }}"
              alt="Processed Image"
            />
            {% endif %}
        </div>

        <div class="result-content">
          <h3 class="result-title">Список дефектов:</h3>
          <ul class="result-list">
            <!-- <li>прилегающие дефекты</li>
            <li>дефекты целостности</li>
            <li>дефекты геометрии</li>
            <li>дефекты постобработки</li>
            <li>дефекты невыполнения</li> -->
          </ul>
        </div> 
      </div>
    </div>
    
    <div class="modal-overlay"></div>
    <div class="modal hidden">
      <button class="modal-close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.66683 23.9509L0.333496 21.6176L9.66683 12.2843L0.333496 2.95092L2.66683 0.617584L12.0002 9.95092L21.3335 0.617584L23.6668 2.95092L14.3335 12.2843L23.6668 21.6176L21.3335 23.9509L12.0002 14.6176L2.66683 23.9509Z" fill="#1C1B1F"/>
        </svg>          
      </button>
      <div class="modal-text">Обучение запущено, ждите</div>
      <button class="modal-btn">Хорошо</button>
    </div>
  </body>
</html>
