{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Проверка дефектов</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'script.js' %}"></script>
  </head>
  <body>
    <header class="header"></header>
    <div class="container">
      <div class="wrap">
        <div>
          <h2 class="title">Отправка</h2>
          <form
            action="/"
            method="post"
            enctype="multipart/form-data"
            class="form-wrap"
          >
            {% csrf_token %}
            <div class="form-input-wrapper" id="form-input-wrapper">
              <label for="photo" class="form-label">Загрузите фото</label>
              <input
                class="form-input"
                type="file"
                id="photo"
                name="photo"
                accept="image/png, image/jpeg"
                onchange="previewImage(event)"
              />
            </div>
            <button class="form-btn" type="submit">
              Отправить на проверку
            </button>
          </form>
        </div>
        <div className="loader"></div>

        <div class="result">
          <h2 class="title">Результат обработки</h2>

          <div class="result-wrap">
            {% if uploaded_file_url %}
            <img
              class="result-img"
              src="{{ uploaded_file_url }}"
              alt="Processed Image"
            />
            {% endif %}

          <div class="result-content">
            <h3 class="result-title">Дефекты:</h3>
            <ul class="result-list">
              <!-- <li>прилегающие дефекты</li>
              <li>дефекты целостности</li>
              <li>дефекты геометрии</li>
              <li>дефекты постобработки</li>
              <li>дефекты невыполнения</li> -->
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </body>
</html>
