@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Manrope-Regular.woff2") format("woff2"),
       url("./fonts/Manrope-Regular.woff") format("woff"),
       url("./fonts/Manrope-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Manrope-Medium.woff2") format("woff2"),
       url("./fonts/Manrope-Medium.woff") format("woff"),
       url("./fonts/Manrope-Medium.ttf") format("ttf");
}

* {
  font-family: "Manrope", monospace;
}

body {
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  height: 50px;
  width: 100%;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.title {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 40px;
  color: #1E1E1E;
}

.wrap {
  display: flex;
  gap: 10px;
}

.result-wrap {
  position: relative;
  max-width: 400px;
  background: #fff;
  min-height: 200px;
  border-radius: 20px;
}

.result-img {
  max-width: 600px;
}

.result-content {
  margin-top: 60px;
}

.result-title {
  font-weight: 400;
  font-size: 28px;
  color: #1E1E1E;
  margin: 0;
}

.result-list {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}

.result-list li {
  position: relative;
  padding: 10px 0 0 40px;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 18px;
  }

  &:first-child::before {
    background: #19f754;
  }

  &:nth-child(2)::before {
    background: #f7f019;
  }

  &:nth-child(3)::before {
    background: #f77919;
  }

  &:nth-child(4)::before {
    background: #f73e19;
  }

  &:nth-child(5)::before {
    background: #510808;
  }
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 600px;
}

.form-input-wrapper {
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: #FFFFFF;
  padding: 40px;
}

.form-input {
  display: none;
}

.form-label {
  cursor: pointer;
  color: #1C1B1F;
  font-size: 32px;
  text-align: center;
}

.form-btn {
  border: none;
  background: none;
  border-radius: 20px;
  height: 72px;
  width: 300px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
  background: #fff;

  &:hover {
    background: #eeebeb;
  }
}

.hidden {
  display: none;
}

.loader {
  position: relative;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    top: 40%;
    border: 6px solid hsla(0, 0%, 0%, 0.1);
    border-left-color: var(--color-green);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
